# Python
backend/venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/
.ruff_cache/

# Env
.env
.env.local
.env.prod

# Node
frontend/node_modules/
frontend/dist/
frontend/.vite/

# macOS
.DS_Store

# IDE
.idea/
.vscode/
stockpile-main
